<!-- <section className=" gap-5 w-full relative text-secondary-white h-fit  bg-priymary text-center flex flex-col justify-between items-center  bottom-0">
    //     <div className="flex flex-col justify-center items-center gap-3">
    //         <Link to="/">
    //         <img src={logo} alt="" className=" w-48 xl:w-80" />
    //         </Link>
    //     <ul className="flex gap-3 text-smm md:text-lgg xl:text-navfont ">
            
    //         <Link to="/About">
    //             <li>About</li>
    //         </Link>
            
    //         <Link to="/Collection">
    //             <li>Products</li>
    //         </Link>

    //         <Link to="/boots">
    //             <li>Boots</li>
    //         </Link>

    //         <Link to="/casual">
    //             <li>Casual</li>
    //         </Link>

    //         <Link to="/contact">
    //             <li>Contact</li>
    //         </Link>
    //     </ul>
    //     <p className="text-smmm w-4/5 md:text-smm xl:text-lgg">
    //     Lörem ipsum od ohet dilogi. ch pesask vyfisat. Viktiga poddradio har un mad och inde. 
    //     </p>
    //     <div className="flex gap-2 justify-center">
    //     <img src={img} alt="" className="w-1/12 md:w-12 xl:w-16"/>
    //     <img src={img} alt="" className="w-1/12 md:w-12 xl:w-16 "/>
    //     <img src={img} alt="" className="w-1/12 md:w-12 xl:w-16 "/>
    //     <img src={img} alt="" className="w-1/12 md:w-12 xl:w-16 "/>
    //     </div>
    //     </div>
        
        
    //     <div className="flex w-full h-fit justify-center    " >
    //     <div className=" rounded-tr-8xl w-1/3 h-7 bg-light-green xl:h-12"></div>
    //     <div className=" h-7 text-ne font-sourcePro w-1/3 xl:h-12  md:text-smmm flex justify-center items-center xl:text-lgg "> Designed and developed by #NATNAELESK</div>
    //     <div className=" w-1/3 rounded-tl-8xl h-7 bg-light-green xl:h-12"></div>
    //     </div>
    // </section> -->