@tailwind   base;
@tailwind components;
@tailwind utilities;
*{
    /* border: 1px solid red; */
}
body{
    /* overflow-x: hidden ; */
}

.App{
    min-height: 200vh;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none ;

}
.flex-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-amazing-shap{
    z-index: 10;
    border-radius: 15px;
    clip-path:polygon(100% 0, 100% 64%, 26% 100%, 0 72%, 0 0);
   
}
.geez{
    font-weight: 700;
    width: fit-content;
    padding: 10px 25px;
    position: relative;
}
.logo-txt{
    position: absolute;
    rotate: 270deg;
    top: 30%;
    right: 42%;
    z-index: 1;
}
.shoes{
    position: absolute;
    width: 550px;
    rotate: -11.72deg;
    top: -130px;
    z-index: 2;
    
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all .4s ease-in-out;
    cursor: pointer;

}
.circle:nth-child(1){
    
    left: 70px;
    background: blue;

}
.circle:nth-child(2){
    right: 70px;
    background: burlywood;
    border: 3px solid #FEFAE0;
}
.circle:nth-child(3){
    background:black;
}
.color-cont{
       position: absolute;
       top: 50%;
       right: 10%;
}
.bg{
   height: 80lvh;
}

.bg2{
    opacity: 0.4;
    filter: blur(0px);
    background-image: url('components/images/bg-sectraction.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.glasscard{
    /* From https://css.glass */
    background: rgba(40, 54, 24, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 2px solid #283618;
}
div.scrollmenu {

    height: fit-content;
    padding: 30px 10px;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu > div {
    width: 200px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .place::placeholder {
    color: #FEFAE0;
    font-size: 10px;
    opacity: 1; /* Firefox */
  }
  
 .place::-ms-input-placeholder { /* Edge 12 -18 */
    color: #FEFAE0;
  }
  .me{
    color: transparent;
    position: relative;

  }
  .gg{
    /* border: 1px solid red; */
    background: #000;
    position: relative;
    z-index: 10;
    height: 100px; 
    display: flex ;
    justify-content: center;
    align-items: center;
  }
  .contt{
    position: absolute;
    top: 16px;
    left: 128px;
    width: 80px;
    height: 18px;
}
  .div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.bg-p{
    background-color: #000;
}
.div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: white;
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.div video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
} 
.shh{
    animation: flote 5s ease-in-out  infinite ;

}

  @media (min-width: 768px) {
    div.scrollmenu > div {
        width: 190px;
        height: 350px;
      }
  }
  @media (min-width: 976px) {
    div.scrollmenu > div {
        width: 212px;
        height: 390px;
      }
  }
  @media (min-width: 1440px) {
    div.scrollmenu > div {
        width: 300px;
        height: 450px;
      }
  }

  @media (min-width: 1640px) {
    div.scrollmenu > div {
        width: 322px;
        height: 500px;
         
      }
  }


@media (min-width:744px) {
    .logo-txt{
        top: 18%;
        right: 8rem;
    }
    .shoes{
        top: -80px;
    }
    .circle{
        width: 25px;
        height: 25px;
    }
    .color-cont{
        top: 40%;
        right: 10%;
 }
 .circle:nth-child(2){
    border: 2px solid #FEFAE0;
}
}
@media (min-width:1240px) {
    .logo-txt{
        top: 18%;
        right:28%;
    }
    .shoes{
        top: -130px;
    }
    .circle{
        width: 40px;
        height: 40px;
    }
    .color-cont{
        top: 50%;
 }
 .circle:nth-child(2){
    border: 3px solid #FEFAE0;
}
}



.blue{
 background: #6188ED;
}
.gray{
    background: #B0B4BC;
}
.black{
background: #030303;
}
.brown{
background: #E89461;
}

